/* Gradiente para a seção de login */
section#login {
  background-image: linear-gradient(to top, yellow, #F2A413, #F2790F, #F26513);
  background-size: 100% 100%;
}

/* Estilo para a div de imagem */
#imagem {
  float: left;
  width: 50%;
  height: 100%;
}

/* Estilo para a div do formulário */
#formulario {
  float: right;
  width: 50%;
  height: 100%;
}

/* Estilos para os elementos dentro do formulário */
#formulario h1 {
  font-size: 2em;
}

#formulario p {
  font-size: 1.2em;
}
