@charset "UTF-8";

/*Typical Device Breakpoints
-----------------------------
  Pequenas telas: até 600px
  Celular: de 600px até 768px
  Tablet: 768px até 1024px
  Desktop: 1024px até 1440px
  Grandes telas: acima de 1440px*/

  @media screen and (min-width: 768px) {
    body {
      background-image: linear-gradient(to top, yellow, #F2A413, #F2790F, #F26513);
    }

    section#login {
      width: 80vw;
    }

    section#login > div#imagem {
      float: left;
      width: 30%;
      height: 100%;
    }

    section#login >div#formulario {
      float: right;
      width: 70%;
    }
  }

  @media screen and (min-width: 992px) and (max-width: 2400px) {
    body {
      background-image: linear-gradient(to top, yellow, #F2A413, #F2790F, #F26513);
    }
    
    section#login {
      width: 900px;
    }

    section#login > div#imagem {
      float: left;
      width: 50%;
      height: 100%;
    }

    section#login > div#formulario {
      float: right;
      width: 50%;
    }
  }
