@charset "UTF-8";

/* Gradiente abrangendo todas as telas */
body {
  background-image: linear-gradient(to top, yellow, #F2A413, #F2790F, #F26513);
}

/* Estilo para a seção de login */
#login {
  width: 90vw; /* Definindo a largura da seção para 90% da largura da viewport */
  margin: 0 auto; /* Centralizando a seção horizontalmente */
}

/* Estilo para a div de imagem */
#formulario {
  float: right; /* Faz com que a div se posicione à direita */
  width: 100%; /* Define a largura como 100% para ocupar toda a largura disponível */
}

/* Estilo para o texto dentro do formulário */
#formulario p {
  font-size: 16px;
  color: black;
  margin-top: 20px;
}

/* Ajustes para diferentes tamanhos de tela */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #login {
    width: 80vw;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  #login {
    width: 70vw;
  }
}

@media screen and (min-width: 1440px) {
  #login {
    width: 60vw;
  }
}

/* Estilos para a imagem e o texto dentro do formulário */
section#login > div#imagem {
  float: left;
  width: 50%;
  height: 100%;
}

section#login > div#formulario {
  float: right;
  width: 50%;
  height: 100%;
}

div#formulario > h1 {
  font-size: 2em;
}

div#formulario > p {
  font-size: 1.2em;
}